<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pathToDataPackage</key>
	<string>http://nascarmediagroup.com/ipad/shows.xml</string>
	<key>pathToHeaderBanners</key>
	<string></string>
	<key>pathToThumbnails</key>
	<string></string>
	<key>pathToVideos</key>
	<string></string>
</dict>
</plist>
